$columns:12;
$gutter-width: 1%;
$container: 100% -(2*$gutter-width);

.muestra {
  border: 1px solid red;
  padding: 10px;
}

.container {
  margin-right: auto;
  margin-left: auto;
  padding: 0 20%; //Modificar
  max-width: $container;
}

.row {
  display: flex;
  flex: 0 1 auto;
  flex-direction: row;
  flex-wrap: wrap;
}

.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12,{
  flex: 0 0 auto;
  padding: 0 $gutter-width;
}

@mixin columns {
  @for $i from 1 through $columns {
    .col-#{$i} {
      max-width: ($container / $columns) * $i;
      flex-basis: ($container / $columns) * $i;
    }
  }
}

@include columns
