@import 'normalize';
@import 'var';
@import 'breakpoints';
.caja{
  background: #007FFF;
  border: 1px solid maroon;
  color: white;
}

.container, .container-fluid{
  margin-right: auto;
  margin-left: auto;
}
.container {
  max-width: $container;
}
.container-fluid {
  max-width: $container-fluid;
}

.row {
  box-sizing: border-box;
  display: flex;
  flex: 0 1 auto;
  flex-direction: row;
  flex-wrap: wrap;
}

.row.reverse{
  flex-direction: row-reverse;
}

.col.reverse{
  flex-direction: column-reverse;
}

@import 'col';

@import 'xs';

@import 'sm';

@import 'md';

@import 'lg';

@import 'xl';

.caja{
  background: peru;
  @include respond-to(col) {
    background: peru;
  }
  @include respond-to(xs) {
    background: pink;
  }
  @include respond-to(sm) {
    background: maroon;
  }
  @include respond-to(md) {
    background: purple;
  }
  @include respond-to(lg) {
    background: yellow;
  }
  @include respond-to(xl) {
    background: green;
  }
}